:root {
  --text-color: rgb(58, 71, 73);
  --primary-color: #4870ac;
  --block-background-color: #f6f8fa;
  --marker-color: #a2b6d4;
  --control-text-hover-color: #a2b6d4;
}

/*
 * Font-face for Cantarell, Source Han Serif CN and JetBrains Mono
 */

@font-face {
  font-family: "Cantarell";
  src: url("lapis/Cantarell-Regular.ttf");
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("lapis/JetBrainsMono-Regular.ttf");
}

@font-face {
  font-family: "SourceHanSerifCN";
  src: url("lapis/SourceHanSerifCN-Regular.otf");
}

@font-face {
  font-family: "SourceHanSerifCN";
  src: url("lapis/SourceHanSerifCN-Bold.otf");
  font-weight: bold;
}

/*
 * Basic Style
 */

.markdown-body {
  max-width: 950px;
  font-size: 1.1rem;
  color: var(--text-color);
  line-height: 1.6;
  word-spacing: 0px;
  letter-spacing: 0px;
  word-break: break-word;
  word-wrap: break-word;
  text-align: left;

  /* font-family: 'Cantarell','Source Han Serif CN','JetBrains Mono'; */
  font-family: "Cantarell", "SourceHanSerifCN", "JetBrainsMono";
  margin-bottom: 20rem;
}

/* Strong */

.markdown-body .md-strong {
  color: var(--primary-color);
}

/* Link */

.markdown-body .md-a {
  text-decoration: none;
  word-wrap: break-word;
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  margin: 2px;
}

/* mark */

mark {
  background: #ffffb5;
  padding: 1px 0.15rem;
  border-radius: 1px;
}

/* 
 * Paragraph
 */

.markdown-body + .md-p,
.markdown-body .md-blockquote .md-p {
  font-size: 1.1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin: 0;
  line-height: 1.8rem;
  color: var(--text-color);
}

/*
 * Header
 */

.markdown-body .md-h1,
.markdown-body .md-h2,
.markdown-body .md-h3,
.markdown-body .md-h4,
.markdown-body .md-h5,
.markdown-body .md-h6 {
  font-family: "SourceHanSerifCN";
  margin: 1em 0 1em;
  padding: 0px;
  color: var(--primary-color);
}

.markdown-body .md-h2 span {
  display: inline-block;
  font-weight: bold;
  background: var(--primary-color);
  color: #ffffff;
  padding: 1px 15px 1px;
  border-radius: 4px;
  margin-right: 3px;
}

.markdown-body .md-h1 {
  font-size: 2rem;
}
.markdown-body .md-h2 {
  font-size: 1.5rem;
}
.markdown-body .md-h3 {
  font-size: 1.4rem;
}
.markdown-body .md-h4 {
  font-size: 1.2rem;
}
.markdown-body .md-h5 {
  font-size: 1.1rem;
}
.markdown-body .md-h6 {
  font-size: 1.1rem;
}

/*
 * List
 */

::marker {
  font-weight: bold;
  color: var(--marker-color);
}

.md-li.md-list-item {
  margin: 0.4rem 0;
}

.markdown-body .md-ul,
.markdown-body .md-ol {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 20px;
}

.markdown-body .md-ul {
  list-style-type: disc;
}

.markdown-body .md-ul .md-ul {
  list-style-type: square;
}

.markdown-body .md-ol {
  list-style-type: decimal;
}

.markdown-body .md-li .md-section {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.7rem;
  text-align: left;
  color: var(--text-color);
  font-weight: 500;
}

/*
 * Quote
 */
.markdown-body .md-blockquote {
  display: block;
  font-size: 0.9em;
  overflow: auto;
  border-left: 3px solid var(--primary-color);
  padding: 15px 30px 15px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  background: var(--block-background-color);
}

/*
 * Inline code
 */
.markdown-body .md-p .md-code,
.markdown-body .md-li .md-code {
  color: var(--primary-color);
  font-size: 1rem;
  word-wrap: break-word;
  padding: 2px 4px 2px;
  border-radius: 3px;
  margin: 2px;
  background-color: var(--block-background-color);
  font-family: "JetBrainsMono";
  word-break: break-all;
}

/*
 * Img
 */
.markdown-body .md-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.markdown-body .md-span .md-img {
  filter: drop-shadow(#d2dff4 0px 0px 8px);
  border-radius: 3rem;
  display: block;
  margin: 0 auto;
  padding: 2rem;
}

/*
 * Table
 */
.markdown-body .md-table {
  white-space: nowrap;
  display: table;
  text-align: left;
  display: block;
  overflow-x: auto;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0px;
  font-size: 1em;
  margin: 0px 0px 20px;
  width: 100%;
}
.markdown-body .md-tbody {
  border: 0;
}
.markdown-body .md-table .md-tr {
  border: 0;
  border-top: 1px solid #ccc;
  background-color: white;
}
.markdown-body .md-table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.markdown-body .md-table .md-tr .md-th,
.markdown-body .md-table .md-tr .md-th,
.markdown-body .md-table .md-tr .md-td {
  font-size: 1rem;
  border: 1px solid #d9dfe4;
  padding: 5px 10px;
  text-align: left;
}
.markdown-body .md-table .md-tr .md-th {
  min-width: 10rem;
  font-weight: bold;
  background-color: #ffffff;
  color: var(--primary-color);
}

.md-table.md-table .md-td {
  min-width: 32px;
  background-color: white;
}

/*
 * Footnote Superscript
 */
.markdown-body .md-footnote {
  font-weight: bold;
  color: var(--primary-color);
}
.markdown-body .md-footnote > .md-text:before {
  content: "[";
}
.markdown-body .md-footnote > .md-text:after {
  content: "]";
}

/* Footnote */
.markdown-body .md-def-name {
  padding-right: 1.8ch;
}
.markdown-body .md-def-name:before {
  content: "[";
  color: #000;
}
.markdown-body .md-def-name:after {
  color: #000;
}

.md-span.md-plain {
  line-height: 2rem;
}

.md-p.md-end-block.md-p {
  line-height: 2rem;
  color: var(--text-color);
  margin: 4px 0;
}

/*
 * Dividing line
 */
.md-hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid #eef2f5;
  border-radius: 2px;
}

/* Checkbox */

.markdown-body .md-input[type="checkbox"] {
  width: 0;
}

.task-list-item .md-input::before {
  content: "";
  display: inline-block;
  width: 1.0125rem;
  height: 1.0125rem;
  vertical-align: middle;
  text-align: center;
  border: 1px solid var(--marker-color);
  border-radius: 1.2rem;
  background-color: #fdfdfd;
  margin-left: -0.7rem;
  margin-right: 0.1rem;
  margin-top: -0.3rem;
}

.task-list-item .md-input:checked::before {
  content: "✓";
  font-weight: bold;
  -webkit-text-stroke: 1px var(--primary-color);
  color: var(--primary-color);
  background-color: white;
  font-size: 0.75rem;
  line-height: 1.1rem;
}


/*
 * Scrollbar
 */

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(179, 179, 179, 0.425);
}

::-webkit-scrollbar {
  width: 1rem;
}