@use 'variable';

@mixin messageWrapper($color: variable.$primary-color) {
  background-color: #f3f5f7;
  border-color: $color;
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;
}

@mixin link($color: variable.$geek-color) {
  text-decoration: none;
  color: $color;
}