// color
$primary-color: #5B8FF9;
$danger-color: #E8684A;
$warning-color: #FFB200;
$success-color: #0bc286;
$fail-color: #8c8c8c;
$font-color: #021D38;
$font-light-color: #ffffff;
$geek-color: #597ef7;
$shadow-color: #f5f5f5;
$border-color: #919191;
$strong-color: #5B8FF9;
$th-bg-color: #D0E4FF;
$required-color: #E6450F;
$inline-code-color: #E85285;
$light-border-color: #ABABAB;

// font
$content-size: 14px;
$font-medium-weight: 500;
$font-default-weight: 400;

// padding
$padding-min: 2px;
$padding-default: 4px;
$padding-medium: 8px;
$padding-large: 16px;

// border
$header-border: 1px solid $light-border-color;

// shadow
$shadow: 0px 0px 4px 4px $shadow-color;